<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Bandra Info</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/community" class="link">Our Community</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="https://www.getrevue.co/profile/bandrainfo" class="link">Subscribe to our Newsletter</a></li>
					<li><a href="https://tidycal.com/manojnayak/30-minute-meeting" class="link">Schedule a Consultation</a></li>
					<li><a href="https://Bandra.wiki" class="link">Bandra Wikipedia</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://facebook.com/bandrainfo" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/bandrainfo" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://instagram.com/bandrainfo" "svg" "icons-instagram") }}

				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
